body {
    background-color: aquamarine;  
}

.start {
    position: fixed;
    top:50%;
    left:30%;

}

#starts {
    font-size: 170%;
}

#stops {
    font-size: 170%;
}

#resets {
    font-size: 170%;
}

#timer{
    
    display: inline-flex;
    font-size:270%;
}