body {
     
     margin:0;
     background-color: black;
}

p {
    background-color :white;
    display: inline-flex;
   justify-content: center;
    
    font-size: 50px;
    margin: 0;
    height: 70px;
    width: 200px;
}